<div class="form-container">
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="appointment-form">
      <div class="form-group">
        <label for="client">Cliente</label>
        <select id="client" formControlName="clientId" class="form-control">
          <option value="">Selecione um cliente</option>
          <option *ngFor="let client of clients" [value]="client.id">
            {{client.name}}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="service">Serviço</label>
        <select id="service" formControlName="serviceId" class="form-control">
          <option value="">Selecione um serviço</option>
          <option *ngFor="let service of services" [value]="service.id">
            {{service.name}} - R$ {{service.price}}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="date">Data</label>
        <input type="date" id="date" formControlName="date" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="time">Horário</label>
        <input type="time" id="time" formControlName="time" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="price">Valor (R$)</label>
        <input type="number" id="price" formControlName="price" class="form-control">
      </div>
  
      <button type="submit" class="btn-submit" [disabled]="!appointmentForm.valid">
        Criar Agendamento
      </button>
    </form>
  </div>
  